boto==2.40.0
chardet==2.3.0
configobj==5.0.6
cryptography==1.5
Django==1.10.3
dnspython==1.14.0
image==1.5.5
matplotlib==1.5.2rc2
ndg-httpsclient==0.4.2
numpy==1.11.1rc1
Pillow==3.4.2
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
PyMySQL==0.7.9
pyOpenSSL==16.1.0
pyparsing==2.1.8
python-apt==1.1.0b5
python-cloudfiles==1.7.10
python-dateutil==2.4.2
python-xlib==0.14
pytz==2014.10
pyxdg==0.25
requests==2.10.0
s3cmd==1.6.1
scipy==0.17.1
six==1.10.0
stevedore==1.17.1
urllib3==1.15.1
virtualenv==15.0.3
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
whitenoise==3.2.2
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.6.0
python-decouple==3
Markdown==2.6.6
bleach==1.4.3
psycopg2==2.6.1
